html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

:root {
  --main-font-family: "Cabin", sans-serif;
  --grey-shadow-color: #b6b6b6bf;
  --green-color: #08bb50;
  --white-color: #ffffff;
  --black-color: #000000;
  --red-color: #f32a2a;
  --grey-color: #e7e8e9;
  --border-grey-color: #cfcece;
  --dark-grey-color: #999999;
  --blue-color: #4c8fbee7;
  --sidebar-grey: #e8e8e8;
  --sidebar-dark-grey: #e0dcdc;
  --blue-accent: #00a2ff;
  --blue-hover-color: #4964dd;
  --scroll-bar-color: #888;
  --scroll-bar-thumb-color: #555;
  --black-shadow-color: rgba(0, 0, 0, 0.715);
  --black-hover-color: rgba(0, 0, 0, 0.4);
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: var(--main-font-family);
  color: var(--black-color);
  letter-spacing: 0.06rem;
  line-height: 1.2;
  font-size: 16px;
  position: relative;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
p {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

span::-moz-selection, a::-moz-selection {
  color: var(--white-color);
  background: var(--green-color);
}

span::selection,
a::selection {
  color: var(--white-color);
  background: var(--green-color);
}

.video__name,
.video__author, .filter__item, .social__icon, .streamer__name, .streamer, .dropdown__content .dropdown__link, .icon-cat,
.logo__text,
.icon-paw,
.icon-bell,
.icon-search,
.icon-microphone, .main::-webkit-scrollbar-thumb, .streamers::-webkit-scrollbar-thumb {
  -webkit-transition-property: color, background-color, border-color;
  transition-property: color, background-color, border-color;
  transition-duration: 250ms;
  transition-timing-function: var(--timing-function);
}

.main, .streamers {
  overflow-y: scroll;
  scrollbar-width: thin;
  scrollbar-color: var(--scroll-bar-color);
}
.main::-webkit-scrollbar, .streamers::-webkit-scrollbar {
  width: 6px;
}
.main::-webkit-scrollbar-thumb, .streamers::-webkit-scrollbar-thumb {
  background: var(--scroll-bar-color);
  border-radius: 0.5em;
}
.main::-webkit-scrollbar-thumb:hover, .streamers::-webkit-scrollbar-thumb:hover {
  background: var(--scroll-bar-thumb-color);
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

.hidden {
  visibility: hidden;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  box-shadow: 0 5px 5px var(--grey-shadow-color);
  height: 60px;
  position: fixed;
  width: 100%;
  z-index: 3;
  background-color: var(--white-color);
}

.icon-cat,
.logo__text {
  font-size: 20px;
  color: var(--green-color);
}

.icon-cat,
.logo__text,
.icon-paw,
.icon-bell,
.icon-search,
.icon-microphone {
  cursor: pointer;
}

.icon-bell {
  margin-right: 10px;
  padding: 10px;
  display: block;
}

.icon-bell,
.icon-microphone {
  color: var(--border-grey-color);
}
.icon-bell:hover,
.icon-microphone:hover {
  color: var(--dark-grey-color);
}

.icon-paw {
  border-radius: 50%;
  padding: 10px;
  display: block;
  background-color: var(--green-color);
}

.menu {
  display: flex;
  align-items: center;
}

.search {
  display: flex;
  align-items: center;
  width: 30%;
}

.search__input {
  width: 100%;
  outline: none;
  padding: 6px;
  border-radius: 0.2rem 0 0 0.2rem;
  border: 1px solid var(--border-grey-color);
  height: 30px;
}
.search__input:focus {
  border: 2px solid var(--blue-color);
}

.icon-search {
  margin-right: 0.5rem;
  padding: 4px;
  border: 1px solid var(--border-grey-color);
  background-color: var(--grey-color);
  border-radius: 0 0.2rem 0.2rem 0;
}
.icon-search:hover {
  background-color: var(--border-grey-color);
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown__content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 160px;
  box-shadow: 0 5px 5px var(--grey-shadow-color);
  right: 0px;
  border-radius: 0.5em;
}
.dropdown__content .dropdown__link {
  color: var(--black-color);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dropdown__content .dropdown__link .fas {
  margin-right: 5px;
}
.dropdown__content .dropdown__link:first-child {
  border-radius: 0.5em 0.5em 0 0;
}
.dropdown__content .dropdown__link:last-child {
  border-radius: 0 0 0.5em 0.5em;
}
.dropdown__content .logout {
  border-top: 2px solid var(--border-grey-color);
  color: var(--red-color);
}
.dropdown__content .dropdown__link:hover {
  background-color: var(--grey-color);
}

.dropdown:hover .dropdown__content {
  display: block;
}
.dropdown:hover .icon-paw {
  background-color: var(--grey-color);
}

.sidebar {
  display: flex;
  flex-direction: column;
  background-color: var(--sidebar-grey);
  width: 240px;
  height: calc(100vh - 60px);
}

.streamers {
  height: calc(100% - 160px);
}

.streamer {
  display: flex;
  padding: 15px;
  justify-content: space-between;
  align-items: center;
  font-weight: 700;
}
.streamer:hover {
  background-color: var(--grey-shadow-color);
  cursor: pointer;
}

.streamer__name {
  overflow: hidden;
  text-overflow: ellipsis;
  margin-left: 10px;
  width: 80px;
  padding-right: 0.5rem;
}
.streamer__name:hover {
  color: var(--blue-hover-color);
}

.amount {
  letter-spacing: 0.15rem;
}

.streamer__viewers {
  display: flex;
  align-self: center;
}

.avatar {
  width: 30px;
  cursor: pointer;
  border-radius: 50%;
}

.pulse {
  align-self: center;
  margin-right: 0.5rem;
  background-color: var(--red-color);
  width: 8px;
  height: 8px;
  border-radius: 50%;
  -webkit-animation: pulse 2s infinite;
          animation: pulse 2s infinite;
}

@-webkit-keyframes pulse {
  0% {
    transform: scale(0.9);
    box-shadow: 0 0 0 0 rgba(255, 0, 0, 0.8);
  }
  70% {
    transform: scale(1);
    box-shadow: 0 0 0 4px rgba(255, 0, 0, 0);
  }
  100% {
    transform: scale(0.9);
  }
}

@keyframes pulse {
  0% {
    transform: scale(0.9);
    box-shadow: 0 0 0 0 rgba(255, 0, 0, 0.8);
  }
  70% {
    transform: scale(1);
    box-shadow: 0 0 0 4px rgba(255, 0, 0, 0);
  }
  100% {
    transform: scale(0.9);
  }
}
.footer,
.footer__information {
  padding: 15px;
}

.footer {
  border-top: 2px solid var(--white-color);
  display: flex;
  height: 160px;
}

.footer__information {
  background-color: var(--sidebar-dark-grey);
  border-radius: 0.2rem;
}

.footer__text {
  font-weight: 700;
  letter-spacing: 0.06em;
  text-align: center;
  font-size: 20px;
}
.footer__text::-moz-selection {
  color: var(--white-color);
  background: var(--green-color);
}
.footer__text::selection {
  color: var(--white-color);
  background: var(--green-color);
}

.social__icons {
  display: flex;
  justify-content: space-evenly;
  margin-top: 1.2rem;
}

.social__icon {
  cursor: pointer;
}
.social__icon:hover {
  color: var(--blue-accent);
}

@media all and (max-width: 1200px) {
  .footer,
.streamer__viewers,
.streamer__name {
    display: none;
  }

  .streamers {
    height: 100%;
  }

  .sidebar {
    width: 60px;
  }
}
.filters {
  height: 30px;
  display: grid;
  grid-template-columns: repeat(15, 1fr);
  grid-gap: 15px;
  overflow-x: auto;
  margin-bottom: 15px;
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}
.filters::-webkit-scrollbar {
  display: none;
}

.filter__item {
  background: var(--sidebar-grey);
  color: var(--black-color);
  display: flex;
  align-items: center;
  padding: 0 10px;
  border-radius: 3em;
  border: 2px solid var(--border-grey-color);
  white-space: nowrap;
  position: relative;
  cursor: pointer;
}
.filter__item:first-child {
  background: var(--green-color);
  border: 2px solid var(--green-color);
  color: white;
}
.filter__item:not(:first-child):hover {
  background: var(--border-grey-color);
  border: 2px solid var(--dark-grey-color);
}
.filter__item:first-child:hover {
  background: var(--sidebar-grey);
  border: 2px solid var(--green-color);
  color: var(--black-color);
}

.videos {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  -moz-column-gap: 1rem;
       column-gap: 1rem;
  row-gap: 1rem;
}

.video__live {
  position: absolute;
  top: 5px;
  left: 5px;
  background: var(--red-color);
  color: var(--white-color);
  padding: 5px;
  border-radius: 0.3em;
  cursor: pointer;
}

.icon-paw--big,
.card-icon-paw--big {
  color: var(--white-color);
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}

.preview__image,
.card-preview__image {
  overflow: hidden;
}
.preview__image::before,
.card-preview__image::before {
  opacity: 0;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background: var(--black-hover-color);
  width: 100%;
  height: 100%;
}

.video__preview {
  position: relative;
  overflow: hidden;
}
.video__preview:hover .icon-paw--big, .video__preview:hover .preview__image::before {
  -webkit-animation: fadein 1.5s;
          animation: fadein 1.5s;
  opacity: 1;
}

.video__duration,
.video__viewers {
  position: absolute;
  bottom: 5px;
  right: 5px;
  background: var(--black-shadow-color);
  color: var(--white-color);
  padding: 5px;
  border-radius: 0.3em;
  cursor: pointer;
}

@-webkit-keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.video__description {
  height: 60px;
  padding: 5px;
  display: grid;
  grid-template-columns: 30px auto 10px;
  -moz-column-gap: 0.5rem;
       column-gap: 0.5rem;
  align-items: center;
}

.video__text {
  width: 100%;
  display: grid;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding-left: 0.5rem;
  letter-spacing: 0.1rem;
}

.video__name {
  font-weight: 700;
}

.video__name,
.video__author {
  display: block;
  align-self: center;
  overflow-x: hidden;
  line-height: 1.2;
  text-overflow: ellipsis;
  cursor: pointer;
}
.video__name::-moz-selection, .video__author::-moz-selection {
  color: var(--white-color);
  background: var(--green-color);
}
.video__name::selection,
.video__author::selection {
  color: var(--white-color);
  background: var(--green-color);
}
.video__name:hover,
.video__author:hover {
  color: var(--blue-hover-color);
}

.video__author {
  font-size: 14px;
  letter-spacing: 0.03rem;
  color: var(--dark-grey-color);
}

.options {
  padding-top: 8px;
  align-self: flex-start;
  align-items: center;
  cursor: pointer;
}

@media all and (max-width: 1470px) {
  .videos {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media all and (max-width: 1010px) {
  .videos {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media all and (max-width: 700px) {
  .videos {
    grid-template-columns: 1fr;
  }
}
.main__footer {
  width: 100%;
  background-color: var(--white-color);
  text-align: center;
  padding: 60px 0 10px;
  font-weight: 700;
  font-size: 18px;
  letter-spacing: 0.06rem;
}

.main-footer__text::-moz-selection {
  color: var(--white-color);
  background: var(--green-color);
}

.main-footer__text::selection {
  color: var(--white-color);
  background: var(--green-color);
}

.footer__icon {
  display: inline;
  width: 14px;
  height: 14px;
  margin-left: 0.3rem;
  -webkit-animation: heartBeat 1s infinite;
          animation: heartBeat 1s infinite;
}

@-webkit-keyframes heartBeat {
  0% {
    transform: scale(1);
  }
  20% {
    transform: scale(1.25) translateX(5%) translateY(5%);
  }
  40% {
    transform: scale(1.5) translateX(9%) translateY(10%);
  }
}

@keyframes heartBeat {
  0% {
    transform: scale(1);
  }
  20% {
    transform: scale(1.25) translateX(5%) translateY(5%);
  }
  40% {
    transform: scale(1.5) translateX(9%) translateY(10%);
  }
}
.main-container {
  padding-top: 60px;
  display: flex;
}

.main {
  padding: 15px;
  width: calc(100% - 240px);
  height: calc(100vh - 60px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media all and (max-width: 1200px) {
  .main {
    width: calc(100% - 60px);
  }
}
input[type=radio] {
  display: none;
}

.card {
  display: grid;
  position: absolute;
  width: 60%;
  height: 100%;
  left: 0;
  right: 0;
  margin: auto;
  transition: transform 0.4s ease;
  cursor: pointer;
  grid-template-columns: auto 150px;
}

.carousel {
  height: 260px;
  max-width: 800px;
  transform-style: preserve-3d;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 35px auto 50px;
}

.cards {
  position: relative;
  width: 100%;
  height: 100%;
  margin-bottom: 20px;
}
.cards .video__description {
  grid-template-rows: 60px 30px auto;
  background-color: var(--sidebar-grey);
  border-radius: 0 1rem 1rem 0;
  height: 100%;
}

.card-video__preview {
  position: relative;
}

.card-preview__image::before {
  border-radius: 1rem 0 0 1rem;
}

.card-video__preview {
  position: relative;
  overflow: hidden;
}
.card-video__preview:hover .card-icon-paw--big, .card-video__preview:hover .card-preview__image::before {
  -webkit-animation: fadein 1.5s;
          animation: fadein 1.5s;
  opacity: 1;
}

.cards .card__image {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 1rem 0 0 1rem;
}

.cards .video__description {
  grid-template-columns: 30px auto;
}

.card__text::-moz-selection {
  color: var(--white-color);
  background: var(--green-color);
}

.card__text::selection {
  color: var(--white-color);
  background: var(--green-color);
}

.card__description {
  grid-column-start: 1;
  grid-column-end: 3;
  letter-spacing: 0.03rem;
  color: var(--dark-grey-color);
  display: flex;
  align-items: flex-start;
  overflow: hidden;
}
.card__description::-moz-selection {
  color: var(--white-color);
  background: var(--green-color);
}
.card__description::selection {
  color: var(--white-color);
  background: var(--green-color);
}

#item-1:checked ~ .cards #song-3,
#item-2:checked ~ .cards #song-1,
#item-3:checked ~ .cards #song-2 {
  transform: translatex(-40%) scale(0.8);
  opacity: 0.4;
  z-index: 0;
}

#item-1:checked ~ .cards #song-2,
#item-2:checked ~ .cards #song-3,
#item-3:checked ~ .cards #song-1 {
  transform: translatex(40%) scale(0.8);
  opacity: 0.4;
  z-index: 0;
}

#item-1:checked ~ .cards #song-1,
#item-2:checked ~ .cards #song-2,
#item-3:checked ~ .cards #song-3 {
  transform: translatex(0) scale(1);
  opacity: 1;
  z-index: 1;
}
#item-1:checked ~ .cards #song-1 img,
#item-2:checked ~ .cards #song-2 img,
#item-3:checked ~ .cards #song-3 img {
  box-shadow: 0px 0px 5px 0px rgba(81, 81, 81, 0.47);
}

@media all and (max-width: 700px) {
  .carousel {
    display: none;
  }
}/*# sourceMappingURL=main.css.map */