input[type='radio'] {
  display: none;
}

.card {
  display: grid;
  position: absolute;
  width: 60%;
  height: 100%;
  left: 0;
  right: 0;
  margin: auto;
  transition: transform 0.4s ease;
  cursor: pointer;
  grid-template-columns: auto 150px;
}

.carousel {
  height: 260px;
  max-width: 800px;
  transform-style: preserve-3d;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 35px auto 50px;
}

.cards {
  position: relative;
  width: 100%;
  height: 100%;
  margin-bottom: 20px;

  & .video__description {
    grid-template-rows: 60px 30px auto;
    background-color: var(--sidebar-grey);
    border-radius: 0 1rem 1rem 0;
    height: 100%;
  }
}

.card-video__preview {
  position: relative;
}

.card-preview__image::before {
  border-radius: 1rem 0 0 1rem;
}

.card-video__preview {
  position: relative;
  overflow: hidden;

  &:hover .card-icon-paw--big,
  &:hover .card-preview__image::before {
    animation: fadein 1.5s;
    opacity: 1;
  }
}

.cards .card__image {
  height: 100%;
  object-fit: cover;
  border-radius: 1rem 0 0 1rem;
}

.cards .video__description {
  grid-template-columns: 30px auto;
}

.card__text {
  &::selection {
    color: var(--white-color);
    background: var(--green-color);
  }
}

.card__description {
  grid-column-start: 1;
  grid-column-end: 3;
  letter-spacing: 0.03rem;
  color: var(--dark-grey-color);
  display: flex;
  align-items: flex-start;
  overflow: hidden;

  &::selection {
    color: var(--white-color);
    background: var(--green-color);
  }
}

#item-1:checked ~ .cards #song-3,
#item-2:checked ~ .cards #song-1,
#item-3:checked ~ .cards #song-2 {
  transform: translatex(-40%) scale(0.8);
  opacity: 0.4;
  z-index: 0;
}

#item-1:checked ~ .cards #song-2,
#item-2:checked ~ .cards #song-3,
#item-3:checked ~ .cards #song-1 {
  transform: translatex(40%) scale(0.8);
  opacity: 0.4;
  z-index: 0;
}

#item-1:checked ~ .cards #song-1,
#item-2:checked ~ .cards #song-2,
#item-3:checked ~ .cards #song-3 {
  transform: translatex(0) scale(1);
  opacity: 1;
  z-index: 1;

  img {
    box-shadow: 0px 0px 5px 0px rgba(81, 81, 81, 0.47);
  }
}

@media all and (max-width: 700px) {
  .carousel {
    display: none;
  }
}
