.filters {
  height: 30px;
  display: grid;
  grid-template-columns: repeat(15, 1fr);
  grid-gap: 15px;
  overflow-x: auto;
  margin-bottom: 15px;

  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  &::-webkit-scrollbar {
    display: none;
  }
}

.filter__item {
  background: var(--sidebar-grey);
  color: var(--black-color);
  display: flex;
  align-items: center;
  padding: 0 10px;
  border-radius: 3em;
  border: 2px solid var(--border-grey-color);
  white-space: nowrap;
  position: relative;
  cursor: pointer;
  @extend %transition;

  &:first-child {
    background: var(--green-color);
    border: 2px solid var(--green-color);
    color: white;
  }

  &:not(:first-child):hover {
    background: var(--border-grey-color);
    border: 2px solid var(--dark-grey-color);
  }

  &:first-child:hover {
    background: var(--sidebar-grey);
    border: 2px solid var(--green-color);
    color: var(--black-color);
  }
}
