.main__footer {
  width: 100%;
  background-color: var(--white-color);
  text-align: center;
  padding: 60px 0 10px;

  font-weight: 700;
  font-size: 18px;
  letter-spacing: 0.06rem;
}

.main-footer__text::selection {
  color: var(--white-color);
  background: var(--green-color);
}

.footer__icon {
  display: inline;
  width: 14px;
  height: 14px;
  margin-left: 0.3rem;
  animation: heartBeat 1s infinite;
}

@keyframes heartBeat {
  0% {
    transform: scale(1);
  }
  20% {
    transform: scale(1.25) translateX(5%) translateY(5%);
  }
  40% {
    transform: scale(1.5) translateX(9%) translateY(10%);
  }
}
