.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  -moz-box-shadow: 0 5px 5px var(--grey-shadow-color);
  -webkit-box-shadow: 0 5px 5px var(--grey-shadow-color);
  box-shadow: 0 5px 5px var(--grey-shadow-color);
  height: 60px;
  position: fixed;
  width: 100%;
  z-index: 3;
  background-color: var(--white-color);
}

.icon-cat,
.logo__text {
  font-size: 20px;
  color: var(--green-color);
}

.icon-cat,
.logo__text,
.icon-paw,
.icon-bell,
.icon-search,
.icon-microphone {
  cursor: pointer;
  @extend %transition;
}

.icon-bell {
  margin-right: 10px;
  padding: 10px;
  display: block;
}

.icon-bell,
.icon-microphone {
  color: var(--border-grey-color);
  @extend %transition;

  &:hover {
    color: var(--dark-grey-color);
  }
}

.icon-paw {
  border-radius: 50%;
  padding: 10px;
  display: block;
  background-color: var(--green-color);
}

.menu {
  display: flex;
  align-items: center;
}

.search {
  display: flex;
  align-items: center;
  width: 30%;
}

.search__input {
  width: 100%;
  outline: none;
  padding: 6px;
  border-radius: 0.2rem 0 0 0.2rem;
  border: 1px solid var(--border-grey-color);
  height: 30px;

  &:focus {
    border: 2px solid var(--blue-color);
  }
}

.icon-search {
  margin-right: 0.5rem;
  padding: 4px;
  border: 1px solid var(--border-grey-color);
  background-color: var(--grey-color);
  border-radius: 0 0.2rem 0.2rem 0;

  &:hover {
    background-color: var(--border-grey-color);
  }
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown__content {
  display: none;
  position: absolute;
  background-color: rgb(255, 255, 255);
  min-width: 160px;
  box-shadow: 0 5px 5px var(--grey-shadow-color);
  right: 0px;
  border-radius: 0.5em;

  & .dropdown__link {
    color: var(--black-color);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    @extend %transition;
  }

  & .dropdown__link .fas {
    margin-right: 5px;
  }

  & .dropdown__link:first-child {
    border-radius: 0.5em 0.5em 0 0;
  }

  & .dropdown__link:last-child {
    border-radius: 0 0 0.5em 0.5em;
  }

  & .logout {
    border-top: 2px solid var(--border-grey-color);
    color: var(--red-color);
  }

  & .dropdown__link:hover {
    background-color: var(--grey-color);
  }
}

.dropdown:hover {
  & .dropdown__content {
    display: block;
  }
  & .icon-paw {
    background-color: var(--grey-color);
  }
}
