.main-container {
  padding-top: 60px;
  display: flex;
}

.main {
  padding: 15px;
  width: calc(100% - 240px);
  height: calc(100vh - 60px);
  @extend %scroll;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media all and (max-width: 1200px) {
  .main {
    width: calc(100% - 60px);
  }
}
