.sidebar {
  display: flex;
  flex-direction: column;
  background-color: var(--sidebar-grey);
  width: 240px;
  height: calc(100vh - 60px);
}

.streamers {
  height: calc(100% - 160px);
  @extend %scroll;
}

.streamer {
  display: flex;
  padding: 15px;
  justify-content: space-between;
  align-items: center;
  font-weight: 700;
  @extend %transition;

  &:hover {
    background-color: var(--grey-shadow-color);
    cursor: pointer;
  }
}

.streamer__name {
  overflow: hidden;
  text-overflow: ellipsis;
  margin-left: 10px;
  width: 80px;
  padding-right: 0.5rem;
  @extend %transition;

  &:hover {
    color: var(--blue-hover-color);
  }
}

.amount {
  letter-spacing: 0.15rem;
}

.streamer__viewers {
  display: flex;
  align-self: center;
}

.avatar {
  width: 30px;
  cursor: pointer;
  border-radius: 50%;
}

.pulse {
  align-self: center;
  margin-right: 0.5rem;
  background-color: var(--red-color);
  width: 8px;
  height: 8px;
  border-radius: 50%;
  animation: pulse 2s infinite;
}

@keyframes pulse {
  0% {
    transform: scale(0.9);
    box-shadow: 0 0 0 0 rgba(255, 0, 0, 0.8);
  }
  70% {
    transform: scale(1);
    box-shadow: 0 0 0 4px rgba(255, 0, 0, 0);
  }
  100% {
    transform: scale(0.9);
  }
}

.footer,
.footer__information {
  padding: 15px;
}

.footer {
  border-top: 2px solid var(--white-color);
  display: flex;
  height: 160px;
}

.footer__information {
  background-color: var(--sidebar-dark-grey);
  border-radius: 0.2rem;
}

.footer__text {
  font-weight: 700;
  letter-spacing: 0.06em;
  text-align: center;
  font-size: 20px;

  &::selection {
    color: var(--white-color);
    background: var(--green-color);
  }
}

.social__icons {
  display: flex;
  justify-content: space-evenly;
  margin-top: 1.2rem;
}

.social__icon {
  cursor: pointer;
  @extend %transition;
  &:hover {
    color: var(--blue-accent);
  }
}

@media all and (max-width: 1200px) {
  .footer,
  .streamer__viewers,
  .streamer__name {
    display: none;
  }

  .streamers {
    height: 100%;
  }

  .sidebar {
    width: 60px;
  }
}
