.videos {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 1rem;
  row-gap: 1rem;
}

.video__live {
  position: absolute;
  top: 5px;
  left: 5px;
  background: var(--red-color);
  color: var(--white-color);
  padding: 5px;
  border-radius: 0.3em;
  cursor: pointer;
}

.icon-paw--big,
.card-icon-paw--big {
  color: var(--white-color);
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  cursor: pointer;
}

.preview__image,
.card-preview__image {
  overflow: hidden;

  &::before {
    opacity: 0;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background: var(--black-hover-color);
    width: 100%;
    height: 100%;
  }
}

.video__preview {
  position: relative;
  overflow: hidden;

  &:hover .icon-paw--big,
  &:hover .preview__image::before {
    animation: fadein 1.5s;
    opacity: 1;
  }
}

.video__duration,
.video__viewers {
  position: absolute;
  bottom: 5px;
  right: 5px;
  background: var(--black-shadow-color);
  color: var(--white-color);
  padding: 5px;
  border-radius: 0.3em;
  cursor: pointer;
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.video__description {
  height: 60px;
  padding: 5px;
  display: grid;
  grid-template-columns: 30px auto 10px;
  column-gap: 0.5rem;
  align-items: center;
}

.video__text {
  width: 100%;
  display: grid;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding-left: 0.5rem;
  letter-spacing: 0.1rem;
}

.video__name {
  font-weight: 700;
}

.video__name,
.video__author {
  display: block;
  align-self: center;
  overflow-x: hidden;
  line-height: 1.2;
  text-overflow: ellipsis;
  cursor: pointer;
  @extend %transition;

  &::selection {
    color: var(--white-color);
    background: var(--green-color);
  }

  &:hover {
    color: var(--blue-hover-color);
  }
}
.video__author {
  font-size: 14px;
  letter-spacing: 0.03rem;
  color: var(--dark-grey-color);
}

.options {
  padding-top: 8px;
  align-self: flex-start;
  align-items: center;
  cursor: pointer;
}

@media all and (max-width: 1470px) {
  .videos {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media all and (max-width: 1010px) {
  .videos {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media all and (max-width: 700px) {
  .videos {
    grid-template-columns: 1fr;
  }
}
