html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: var(--main-font-family);
  color: var(--black-color);
  letter-spacing: 0.06rem;
  line-height: 1.2;
  font-size: 16px;
  position: relative;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
p {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

span::selection,
a::selection {
  color: var(--white-color);
  background: var(--green-color);
}

%list {
  list-style: none;
  padding: 0;
}

%transition {
  transition-property: color, background-color, border-color;
  transition-duration: 250ms;
  transition-timing-function: var(--timing-function);
}

%scroll {
  overflow-y: scroll;

  scrollbar-width: thin;
  scrollbar-color: var(--scroll-bar-color);

  &::-webkit-scrollbar {
    width: 6px;
  }

  &::-webkit-scrollbar-thumb {
    background: var(--scroll-bar-color);
    border-radius: 0.5em;
    @extend %transition;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: var(--scroll-bar-thumb-color);
  }
}

@mixin font($fs, $fh) {
  font-size: $fs;
  line-height: $fh;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

%visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.hidden {
  visibility: hidden;
}
