:root {
  --main-font-family: 'Cabin', sans-serif;

  --grey-shadow-color: #b6b6b6bf;
  --green-color: #08bb50;
  --white-color: #ffffff;
  --black-color: #000000;
  --red-color: #f32a2a;
  --grey-color: #e7e8e9;
  --border-grey-color: #cfcece;
  --dark-grey-color: #999999;
  --blue-color: #4c8fbee7;
  --sidebar-grey: #e8e8e8;
  --sidebar-dark-grey: #e0dcdc;
  --blue-accent: #00a2ff;
  --blue-hover-color: #4964dd;
  --scroll-bar-color: #888;
  --scroll-bar-thumb-color: #555;
  --black-shadow-color: rgba(0, 0, 0, 0.715);
  --black-hover-color: rgba(0, 0, 0, 0.4);

  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
